body {
   font-family: 'Lora', serif;
   font-size: 18px;
   /*letter-spacing: px;   */
   /*
   font-family: 'Libre Baskerville', serif;
   font-family: Optima, Candara, Calibri, Arial, sans-serif; 
   */
}

title {
   font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 { 
   font-family: 'Open Sans', sans-serif;
   font-weight: 700;
}

code {
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 85%;
}
